.sidenav .collapsible .collapsible-body li > a:focus, .sidenav .collapsible .collapsible-body li > a.active{
    background-color: #d42932;
    border-left: 4px solid #1fa8e0;
}
.w-100{
    width: 100%;
}
.title{
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
    line-height: 30px;
}
.border{
    border: 1px solid #1fa8e0;
    border-radius: 2px;
    padding: 3rem;
}
.bold-text{
    font-weight: bold !important;
}
