/* 3840px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:3840px) {



}

/* 3200px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:3200px) {



}

/* 2736px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:2736px) {



}

/* 2560px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:2560px) {



}

/* 2256px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:2256px) {



}

/* 1920px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1920px) {



}

/* 1600px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1600px) {



}

/* 1366px~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1366px) {



}

/* 1280px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1280px) {



}

/* 1199px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1199px) {



}

/* 992px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:992px) {



}

/* 767px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 767px) {

    .mobile-center{
        float:none !important;
        text-align: center;
    }

    /* title */
    .title{
        font-size: 17px;
    }

}

/* 479px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 479px) {

    .text{
        word-wrap: break-word;
        line-height: 40px;
    }
    .border,.pdd-20px,.pdd-10px{
        padding: 0 !important;
    }

    /* input */
    .input-field{
        margin: 0;
    }

}